body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

header{
    align-items: center;
    height: 6vh;
    justify-content: center;
    width: 100vw;
}

header h1{
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}

nav{
    align-items: flex-end;
    color: white;
    display: flex;
    height: 10vh;
    justify-content: space-around;
    text-align: -webkit-center;
    width: 100vw;
}

nav p button{
    background-color: white;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 28px;
    height: 1.4rem;
    size: 3rem;
    width: 7rem;
}

nav p button:hover{
    cursor: pointer;
}

.visor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#contadorDoTempo{
    height: 3vh;
    width: 6vw;
    font-size: 0.8rem;
    /* optei por deixar o background color por enquanto para facilitar na hora de implantar a lógica do jogo */
}

#nivelDoJogo{
    height: 3vh;
    width: 6vw;
    background-color: white;
    /* optei por deixar o background color por enquanto para facilitar na hora de implantar a lógica do jogo */
}


section{
    align-content: center;
    display: grid;
    grid-template-areas: 'azul vermelho'
                         'amarelo verde';
    height: 79vh;
    justify-content: center;
    width: 100vw;
}

section div button{
    height: 10rem;
    width: 10rem;
    border-bottom: 0px;
    border: solid;    
}

section div button span{
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.azul{
    grid-area: azul;
    background-color: rgba(0, 17, 255, 0.788);
    border-top-left-radius: 160px;
}

.azul:hover{
    background-color: rgba(82, 92, 243, 0.788);
    cursor: pointer;
    border: 5px dotted white;
    border-top-left-radius: 150px;
}

.vermelho{
    grid-area: vermelho;
    background-color: rgba(218, 2, 2, 0.897);
    border-top-right-radius: 160px;
}

.vermelho:hover{
    background-color: rgba(248, 71, 71, 0.897);
    cursor: pointer;
    border: 5px dotted white;
    border-top-right-radius: 150px;
}

.amarelo{
    grid-area: amarelo;
    background-color: rgb(219, 219, 0);
    border-bottom-right-radius: 160px;
}

.amarelo:hover{
    background-color: rgb(240, 240, 100);
    cursor: pointer;
    border: 5px dotted white;
    border-bottom-right-radius: 150px;
}

.verde{
    grid-area: verde;
    background-color: rgb(0, 104, 0);
    border-bottom-left-radius: 160px;
}

.acenderSequencia{
    opacity: 0.5;
}

.verde:hover{
    background-color: rgb(67, 252, 67);
    cursor: pointer;
    border: 5px dotted white;
    border-bottom-left-radius: 150px;
}

footer{
    background-color: rgb(5, 5, 133);
    color: white;
    font-size: 1.5rem;
    height: 5vh;
    text-align: center;
    width: 100vw;
    margin-top: -4vh;
}